body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h2{
    margin-top: 0;
    text-align: center;
}
p{
    margin: 10px 0;
    text-align: center;
}
header, footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main{
    padding: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.grid-item{
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 12px;
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

.reserva {
    position: relative;
    background: #ffffff;
    max-width: 400px;
    margin: 60px auto;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
}

.reserva::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(
        #6c63ff,
        #6c63ff,
        transparent,
        transparent,
        #6c63ff
    );
    animation: girarBorda 4s linear infinite;
    z-index: -1;
}

.reserva h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.reserva::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #fff;
    border-radius: 10px;
    z-index: -1;
}

@keyframes girarBorda {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.reserva label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #555;
    font-weight: bold;
}

.reserva input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
    box-sizing: border-box;
}

.reserva input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.reserva button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.reserva button:hover {
    background: #574fd6;
    transform: translateY(-2px);
}

.reserva button:active {
    transform: translateY(0);
}